:root {
  --ds-background: #ffffff;
  --ds-foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ds-background: #0a0a0a;
    --ds-foreground: #ededed;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}
