@import "@repo/ds/foundation";
@import "@repo/ds/ui";

html,
body,
#app {
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

body {
  color: var(--ds-foreground);
  background: var(--ds-background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: var(--ds-background);
  }
}
