/* Root full-screen area */
.sn-root {
  position: absolute;
  background-color: yellow;
}

.sn-text {
  color: var(--foreground);
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}
