/* Root full-screen area */
.sticky-note {
  position: absolute;

  padding: var(--ds-spacing-2);

  border: solid var(--ds-spacing-half) var(--ds-foreground);
  border-radius: var(--ds-radius-2);

  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-2);

  box-shadow: var(--ds-shadow-2);
}

.sticky-note:hover {
  box-shadow: var(--ds-shadow-3);
}

.sticky-note--dragging {
  box-shadow: var(--ds-shadow-drag);
  transition: box-shadow 0.2s ease;
  cursor: grabbing;
}

.sticky-note__text {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}

.sticky-note__header {
}

.sticky-note__header__grab-icon {
  color: var(--ds-background);
  cursor: grab;
}

.sticky-note__footer {
  display: flex;
  justify-content: flex-end;
}

.sticky-note__footer--resize {
}

.sticky-note__footer__resize-icon {
  color: var(--ds-background);
  cursor: nwse-resize;
}

@media (prefers-color-scheme: light) {
  .sticky-note__footer__resize-icon {
    color: var(--ds-foreground);
  }

  .sticky-note__header__grab-icon {
    color: var(--ds-foreground);
  }
}
