.trash-zone {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: var(--ds-spacing-4);
  right: var(--ds-spacing-4);
  border: dashed var(--ds-grey-4) var(--ds-spacing-2);
  width: calc(var(--ds-spacing-5) * 4);
  height: calc(var(--ds-spacing-5) * 4);
}

.trash-zone__icon {
  color: var(--ds-danger-text);
}
