.trash-zone {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: var(--ds-spacing-4);
  right: var(--ds-spacing-4);
  border: solid var(--ds-grey-1) var(--ds-spacing-1);
  border-radius: var(--ds-radius-1);
  box-shadow: var(--ds-shadow-3);
  width: var(--trash-zone-size);
  height: var(--trash-zone-size);
}

.trash-zone__icon {
  color: var(--ds-danger-text);
}
